/*$primary-color:#E14658;*/
$color-white:#fff;
$color-lightgray:#ccc;
$color-pulse:#e84c3d;
$margin20:2rem;
$margin80:80px;
$margin10:1rem;


/*https://www.materialpalette.com/blue/pink*/
/*$primary-color:#1976D2;
$accent-color:#FF4081;
$primary-text:#212121;
$light-primary-color:#2196F3;*/

/*https://www.materialpalette.com/indigo/pink*/
$primary-color:#303F9F;
$accent-color:#FF4081;
$primary-text:#212121;
$light-primary-color:#3F51B5;
$secondary-text:#757575;